body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  color: #ff0000;
}
/*ENCABEZADO*/

.navbar {
  background-color: black !important;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: gold !important;
}

.navbar-toggler-icon {
  background-color: gold !important;
}

.navbar-toggler {
  border-color: gold !important;
}


/*EL IMPORTANT SIRVE PARA AÑADIR ESTILOS SOBRE OTROS EN ESTE CASO LOS DE LA PLANTILLA DE BOOSTRAP*/

.custom-bg {
  background-image: url('/imagenes/logos/fondoPORTADA.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Esto ajusta la imagen para que cubra todo el elemento */
  /* Otras propiedades opcionales para el diseño */
  background-position: center center; /* Esto centra la imagen */
  /* También puedes ajustar otras propiedades como la repetición, el tamaño, etc. según tus necesidades */
}

.custom-btn {
  background-color: gold; /* Color de fondo dorado */
  color: black; /* Color del texto negro */
  border: 2px solid transparent; /* Borde de 2px sólido transparente */
  border-radius: 25px; /* Radio de borde de 25px */
  padding: 10px 20px; /* Espaciado interno de 10px arriba/abajo y 20px izquierda/derecha */
  font-size: 18px; /* Tamaño de fuente de 18px */
  text-decoration: none; /* Quita la subrayado predeterminado en los enlaces */
}

/* Estilo para el hover de los botones */
.custom-btn:hover {
  background-color: transparent; /* Fondo transparente en hover */
  border-color: gold; /* Cambia el color del borde a dorado en hover */
  color: gold; /* Cambia el color del texto a dorado en hover */
  transition: all 0.3s ease; /* Transición suave de 0.3 segundos */
}
/* Otros estilos... */

.card-title,
.card-text {
    color: black; /* Cambia el color del texto a negro */
}

.card:hover .card-title,
.card:hover .card-text {
    color: white; /* Cambia el color del texto a blanco en hover */
}

.card:hover {
    background-color: black; /* Cambia el fondo a negro en hover */
}

/* Otros estilos... */

/* TENDENCIAS DE TEMPORADA*/


.trending-section {
  padding: 50px 0;
  background-color: black;
  color: gold;
}

.section-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.trend-item {
  text-align: center;
  margin-bottom: 30px;
  background-color: rgba(255, 215, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.trend-item:hover {
  background-color: rgba(255, 215, 0, 0.4);
}

.trend-item h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.trend-item p {
  font-size: 1rem;
  line-height: 1.5;
}

.trend-item a {
  color: gold;
  background-color: transparent;
  border: 2px solid gold;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.trend-item a:hover {
  background-color: black;
  color: gold;
  border:2px solid gold
}



/* INFORMACION DE MARCA*/
/* Estilo para la sección de la marca de Roja */
/* Estilo para la sección de la marca de Roja */
.brand-section {
  background-color: rgb(255, 255, 255);
  color: gold;
  padding: 50px 0;
}

.section-titleinfo {
  color: #000000;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.brand-box {
  background-color: #333; /* Fondo gris oscuro */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 20px; /* Espacio entre las cajas */
}

.brand-info {
  padding-right: 20px; /* Espacio a la derecha para separar el texto de la imagen */
}

.brand-info h2 {
  margin-bottom: 10px;
  color: #000000;
}

.brand-info p {
  margin-bottom: 20px;
}

.brand-info a {
  color: gold;
  background-color: transparent;
  border: 2px solid gold;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.brand-info a:hover {
  background-color: gold;
  color: black;
}

/* Estilo para la imagen */
.brand-image {
  text-align: center; /* Centrar la imagen en la columna */
}

.brand-image img {
  max-width: 100%; /* Asegurar que la imagen no sobrepase su contenedor */
}
