body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  color: #ffffff;
  /* Texto en blanco */
}


/* Encabezado */
.navbar {
  background-color: #000000;
  /* Negro */
}
.bg-dark {
  background-color: rgb(0, 0, 0) !important;
}/* Estilos para la imagen de fondo del encabezado */
/* Estilo para la imagen de fondo del encabezado */
.custom-header-bg {
  background-image: url('/imagenes/fondoportada.png');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

/* Estilo para el filtro oscuro */
.dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Color negro con 50% de opacidad */
}

/* Estilos para el contenido del encabezado */
.custom-header-content {
  position: relative;
  z-index: 1;
  color: #ffffff; /* Color del texto */
}


.navbar-brand,
.navbar-nav .nav-link {
  color: #ffd700;
  /* Oro */
}

.navbar-toggler-icon {
  background-color: #ffd700;
  /* Oro */
}

.navbar-toggler {
  border-color: #ffd700;
  /* Oro */
}

.btn-primary {
  color: #fff;
  background-color: #ffd700;
  border-color: #ffd700;
  
}

/* Botones personalizados */
.custom-btn {
  background-color: #ffd700;
  /* Oro */
  color: #000000;
  /* Texto negro */
  border: 2px solid transparent;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.custom-btn:hover {
  background-color: transparent;
  border-color: #ffd700;
  /* Oro */
  color: #ffd700;
  /* Oro */
}

/* Cartas (cards) */
.card {
  background-color: #000000;
  /* Negro */
  color: #ffd700;
  /* Oro */
  border: 2px solid #ffd700;
  /* Oro */
  transition: background-color 0.3s ease;
  /* Transición suave */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title,
.card-text {
  color: #ffffff;
  /* Oro */
}

.card:hover {
  background-color: #ffd700;
  /* Oro */
  color: #000000;
  /* Texto negro */
  cursor: pointer;
}

/* Sección de Tendencias */
.trending-section {
  background-color: #000000;
  /* Negro */
  color: #ffffff;
  /* Oro */
}

.section-title {
  color: #ffd700;
  text-align: center;
  /* Oro */
}

.trend-item {
  background-color: transparent;
  border: 2px solid #ffd700;
  /* Oro */
  border-radius: 10px;
  transition: background-color 0.3s ease;
  /* Transición suave */
}

.trend-item:hover {
  background-color: #ffd700;
  /* Oro */
  color: #000000;
  /* Texto negro */
  cursor: pointer;
}
/* Sección de Información de Marca */
.brand-section {
  background-color: #000000; /* Negro */
  color: #ffffff; /* Blanco */
  padding: 80px 0;
}

.section-titleinfo {
  color: #ffd700; /* Oro */
  margin-bottom: 50px;
}

.brand-info h2 {
  color: #ffffff; /* Blanco */
}

.brand-info p {
  color: #ffffff; /* Blanco */
  margin-bottom: 20px;
}

.brand-info a {
  color: #000000; /* Texto negro */
  background-color: #ffd700; /* Oro */
  border: 2px solid #ffd700; /* Oro */
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.brand-info a:hover {
  background-color: transparent;
  color: #ffd700; /* Oro */
}

.brand-image img {
  max-width: 100%;
  border-radius: 10px;
}
